<mat-dialog-content class="p-6 w-full h-full flex justify-center items-center">
    <div class="flex justify-center items-center gap-10">
        <div class="flex flex-col mt-6 w-80">
            <h2 class="text-[#330775] text-2xl font-medium mb-6 text-center">UniForms’a Giriş Yap</h2>
            <form>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>E-posta</mat-label>
                    <input matInput type="email" placeholder="E-posta">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Şifre</mat-label>
                    <input matInput type="password" placeholder="Şifre">
                </mat-form-field>
                <button class="bg-[#21005D] text-white rounded-xl mt-6 w-full py-2">Giriş Yap</button>
            </form>
            <p class="mt-4">
                Hesabın yok mu? <a href="#" class="text-indigo-600">Kayıt ol</a>
            </p>
        </div>
        <img src="/login.png" alt="img" class="w-56">
    </div>
</mat-dialog-content>