<h2 mat-dialog-title align="center">
  Ölçek Değerlendirme {{ data.isEditing ? 'Düzenle' : 'Ekle' }}
</h2>
<mat-dialog-content class="!max-h-screen !p-1">
  <div class="flex rounded-[30px] min-h-full">
    <div class="flex flex-col w-full rounded-lg py-5 mx-auto align-middle justify-center">
      <uf-checkbox
        title="Zorunlu Alan"
        (onCheckedChange)="onRequiredChange('required', $event)"
        [isChecked]="this.data.required"
      ></uf-checkbox>
      <uf-checkbox
        title="İl"
        (onCheckedChange)="onRequiredChange('city', $event)"
        [isChecked]="this.data.choices['city']"
      ></uf-checkbox>
      <uf-checkbox
        title="İlçe"
        (onCheckedChange)="onRequiredChange('district', $event)"
        [isChecked]="this.data.choices['district']"
      ></uf-checkbox>
      <uf-checkbox
        title="Posta Kodu"
        (onCheckedChange)="onRequiredChange('postal_code', $event)"
        [isChecked]="this.data.choices['postal_code']"
      ></uf-checkbox>
      <uf-checkbox
        title="Adres"
        (onCheckedChange)="onRequiredChange('address', $event)"
        [isChecked]="this.data.choices['address']"
      ></uf-checkbox>
      <uf-checkbox
        title="Adres 2"
        (onCheckedChange)="onRequiredChange('address2', $event)"
        [isChecked]="this.data.choices['address2']"
      ></uf-checkbox>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <uf-button title="Vazgeç" mat-dialog-close></uf-button>
  <uf-button
    title="{{ data.isEditing ? 'Düzenle' : 'Ekle' }}"
    (click)="onAddClick()"
    [mat-dialog-close]="true"
  ></uf-button>
</mat-dialog-actions>
