<h2 mat-dialog-title align="center">
  {{ baslik }} {{ data.isEditing ? 'Düzenle' : 'Ekle' }}
</h2>
<mat-dialog-content class="!p-2">
  <div class="flex flex-col">
    <uf-form-input
      title="{{ this.data.type == 'title' ? 'Başlık' : 'Soru' }}"
      [inputFormControl]="titleFormControl"
    ></uf-form-input>
    @if (!['title'].includes(this.data.type)){
    <uf-checkbox
      title="Zorunlu Alan"
      [isChecked]="this.isRequired"
      (onCheckedChange)="onRequiredChange($event)"
    ></uf-checkbox>
    }
    @if(['title', 'name', 'email', 'phone', 'date', 'text'].includes(this.data.type)){
      <!-- continue -->
    }
    @else if (this.data.type=="address"){
    <div class="flex flex-col">
      <uf-checkbox title="İl" (onCheckedChange)="onAddressRequiredChange('city', $event)"
        [isChecked]="this.choices['city'] ?? false"></uf-checkbox>
      <uf-checkbox title="İlçe" (onCheckedChange)="onAddressRequiredChange('district', $event)"
        [isChecked]="this.choices['district'] ?? false"></uf-checkbox>
      <uf-checkbox title="Posta Kodu" (onCheckedChange)="onAddressRequiredChange('postal_code', $event)"
        [isChecked]="this.choices['postal_code'] ?? false"></uf-checkbox>
      <uf-checkbox title="Adres" (onCheckedChange)="onAddressRequiredChange('address', $event)"
        [isChecked]="this.choices['address'] ?? false"></uf-checkbox>
      <uf-checkbox title="Adres 2" (onCheckedChange)="onAddressRequiredChange('address2', $event)"
        [isChecked]="this.choices['address2'] ?? false"></uf-checkbox>
    </div>
    }
    @else if (this.data.type=="radio"){
      <div class="flex flex-row flex-wrap justify-between"
        *ngFor="let choice of questionChoices; let i = index;"
      >
        <mat-form-field [appearance]="getAppearance(i)" class="w-full">
          <mat-label>{{ i + 1 }}.Cevap</mat-label>
          <input matInput (blur)="onInputBlur(i, $event)" placeholder="{{ i + 1 }}. Cevabı girin..." [value]="choice">
        </mat-form-field>
      </div>
    }
    @else if (this.data.type=="check"){
    <div class="flex flex-row flex-wrap justify-between"
      *ngFor="let choice of questionChoices; let i = index;"
    >
      <mat-form-field [appearance]="getAppearance(i)" class="w-full">
        <mat-label>{{ i + 1 }}.Cevap</mat-label>
        <input matInput (blur)="onInputBlur(i, $event)" placeholder="{{ i + 1 }}. Cevabı girin..." [value]="choice">
      </mat-form-field>
    </div>
    }
    @else if (this.data.type=="rate"){
    <div class="flex flex-col flex-wrap justify-between">
      <uf-form-input class="flex-grow" title="Sol Yazı" [inputFormControl]="leftWordFC"></uf-form-input>
      <uf-form-input type="number" title="Yıldız Sayısı" [inputFormControl]="starCountFC"></uf-form-input>
      <uf-form-input class="flex-grow" title="Sağ Yazı" [inputFormControl]="rightWordFC"></uf-form-input>
    </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <uf-button title="Vazgeç" mat-dialog-close></uf-button>
  <uf-button
    title="{{ data.isEditing ? 'Düzenle' : 'Ekle' }}"
    (click)="onAddClick()"
    [mat-dialog-close]="true"
    [disabled]="!isValid()"
  ></uf-button>
</mat-dialog-actions>
